<div class="album-item">
  <%= image_tag(entry.photos[0]) %>
</div>
<div class="album-item">
  <%= image_tag(entry.photos[1]) %>
</div>
<div class="album-item">
  <%= image_tag(entry.photos[2]) %>
</div>
<div class="album-item">
  <%= image_tag(entry.photos[3]) %>
</div>
