  <div class="trip-pics"><%= image_tag(entry.photos[0]) %></div>
  <div class="trip-pics"><%= image_tag(entry.photos[1]) %></div>
  <div class="trip-pics"><%= image_tag(entry.photos[2]) %></div>
  <div class="trip-pics"><%= image_tag(entry.photos[3]) %></div>
