<div class="post-item">
    <h4><%= link_to entry.location_name, trip_highlight_path(@trip, entry) %></h4>
    <h6><%= entry.created_at.strftime("%b %d, %Y") %></h6>
    <p><%= entry.memory %></p>
    <%= image_tag(entry.highlight_photo) %>
</div>
