<div class="small-5 small-offset-2 columns">
  <div class="panel">
    <h4><%= link_to entry.headline, trip_post_path(@trip, entry) %></h4>
    <h6><%= entry.created_at %></h6>
    <p><%= entry.content %></p>
  </div>
</div>
