    <h2><em>"I haven't gone everywhere, but it's on my list."</em> - Susan Sontag</h2>

<div class="row">
  <div class="large-4 small-12 columns">
    <img src="http://placehold.it/500x500&text=Logo">

    <div class="hide-for-small panel">
      <h3>Location Name</h3>
          <h5 class="subheader">This is a description and will have a standard image for the location. Ideally.
          </h5>
    </div>
  </div>

  <div class="large-8 columns">
    <div class="row">

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/1000x1000&text=Thumbnail">

          <% @trips.each do |trip| %>
                <p><%= link_to trip.title, trip_path(trip) %></p>
                <p><%= trip.description %></p>
                <p><%= trip.startdate %></p>
          <% end %>

        <div class="panel">
           <h5>Item Name</h5>
           <h6 class="subheader">$000.00</h6>
         </div>
       </div>
    </div>
  </div>
